<% if (!user) { %>

	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<? firstName= user.displayName.split(" ").slice(0).join(""); -?>
	<p>Hello, <%= firstName %>. View your <a href="/profile">profile</a>.</p>
<% } %>
