<% if (!user) { %>

	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<% var firstName= user.displayName; %>
	<% var firstName=firstName.split(" ").slice(0); %>
	<p>Hello, <%= firstName %>. View your <a href="/profile">profile</a>.</p>
<% } %>
